.DS_Store
overview.pdf
*.bbl
*.blg
*.gz
*.vrb
*.tex~
*.toc
*.aux
*.log
*.nav
*.out
*.snm
*.flc
bolsig/*
!bolsig/*.flux
!bolsig/*.sh
!bolsig/*.py
!bolsig/*.ipynb
crs-exp/crs.*.txt
crs-exp/figures
swarm/*.*.txt
swarm/*.png

